.about p{
    margin-bottom: 5px; color: #4d5154; font-weight: bold;
}

.about span{color: #842029; font-weight: bolder;}

.carousel .carousel-item {
            width: 100%;
            float: left;
            position: relative;
            object-fit: cover;
            height: 300px;
        }

.carousel-caption{
    padding-bottom: 0px;
}

.carousel-caption p{
    font-size: small;
    background-color: black;
    color: #dcdfe5;
    opacity: 0.7;
}

.carousel-caption h5{
    font-weight: bold;
    background-color: #dcdfe5;
    color: black;
}